*{
	margin: 0;
	padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
html{
  --border: 20px;
  --center: translate(-50%,-50%);
  --buttonSize: 40px;
}

@keyframes spin { 100% {transform: rotate(360deg); } }

html, body {
  max-width: 100%;
  overflow-x: hidden; 
  overflow-y: hidden;
}
.centerCircle {
  height: 100px;
  width: 100px;
  background-color: #000000;
  position: absolute;
  border-radius: 50%;
  transition: .5s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*.centerCircle:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  height: 120px;
  width: 120px;
  cursor: pointer;
}*/
#logo {
  position: relative;
  top: 0px;
  left: 0px;
  color: #000;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(247, 57, 255, 0.2),rgba(24, 8, 24, 0.2)),url(images/homeBackground.png);
  overflow: hidden;
}
#ring{
  border-color: transparent;
  border-radius: 50%;
  border: var(--border) solid;
  pointer-events: none;
  position: absolute;
}
.ring1 {
  height: 300px;
  width: 300px;
}
.ring2 {
  height: 500px;
  width: 500px;
}
.ring3 {
  height: 700px;
  width: 700px;
}
#planet{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  transition: 0.5s;
  pointer-events: all;
  color: rgb(255, 255, 255);
  border: #000000 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
#planet:hover{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  border: 10px solid #000000;
  cursor: pointer;
}
#planet:focus-within p{
  visibility: hidden;
}
#planet:focus-within {
  transform: scale(5000%);
  z-index: 1;
}

.planet1{
  transform: var(--center) translate(25px, 250px);
}
.planet2{
  transform: var(--center) translate(410px, 450px);
}
.planet3{
  transform: var(--center) translate(265px, 695px);
}
